$primary:   #202020;
$secondary: #121212;
$white:     #fff;
$black:     #353535;
$red:       #ED3024;
$blue:      #3137C9;
$yellow:      #CCAF40;


$z-index-sidebar: 1000;
$z-index-header:  1000;

$sidebar-width: 300px;

$mobile-width:600px;
$tablet-width:1024px;
$tablet_big-width:1300px;
$laptop_mini-width:1400px;
$laptop-width:1550px;
