.footer{
    padding: 100px 0;

    .container{
        display: flex;
        justify-content: space-between;
    }
}

.footer__nav{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 75px;
    grid-row-gap: 20px;
}

.footer__item{
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
    text-align: right;
    margin-bottom: 16px;

    a{
        font-family: 'Lexend Deca';
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 38px;
        color: $red;
    }
}