.footer{
    width: 100%;
    padding: 70px 160px;
    text-align: center;

    @include mobile{
        padding: auto;
    }
}

.btn__up{
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    color: $white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;

    i{
        font-size: 40px;
    }

    @include mobile{
        transform: scale(.7);
        font-size: 17px;
    }
}

.footer__el{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;

    @include laptop{
        flex-wrap: wrap;
        justify-content: center;
    }

}

.footer__item{
    padding: 0 90px;
    @include mobile{
        padding: 0;
        transform: scale(.8);
    }
}

.footer__item:nth-child(2n){
    border-left: 2px solid $yellow;
    border-right: 2px solid $yellow;
    @include laptop{
        border: none;
    }

}


.number{
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 87px;
}

.footer__text{
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    width: 270px;
}