.footer{
    padding: 100px 0;

    .container{
        display: flex;
        justify-content: space-between;

        @include tablet{
            justify-content: space-around;
        }

        @include mobile{
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
    }

    @include mobile{
        padding: 40px 0;
    }
}

.footer__nav{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 75px;
    grid-row-gap: 20px;

    @include mobile{
        display: flex;
        grid-column-gap: 30px;
        margin-bottom: 10px;
    }
}

.footer__item{
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
    text-align: right;
    margin-bottom: 16px;

    a{
        font-family: 'Lexend Deca';
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 38px;
        color: $red;
    }

    @include mobile{
        text-align: center;
    }
}