.section__prew{
    width: 100%;
    position: relative;
    height: 50vh;
    margin-top: 80px;
}


.section__prew-title{
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 48px;
    width: 420px;
    position: absolute;
    top: 30px;
    left: -100px;
    z-index: 10;
}

.section__prew-img{
    width: 750px;
    display: flex;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: -1;
}

.img-prew{
    position: absolute;


}

.img__center{
    position: relative;
    width: 412px;
    height: 459px;
    overflow: hidden;
    object-fit: cover;
}

.img__right{
    top: 0;
    right: -30px;
    width: 243px;
    height: 243px;
    overflow: hidden;
    object-fit: cover;
    border-radius: 50%;
}

.img__abstract-top{
    top: -100px;
    right: 30px;
    z-index: -1;
}

.img__abstract-bottom{
    bottom: -150px;
    z-index: -1;
    right: 30px;
}

.img__abstract-left{
    bottom: -100px;
    z-index: -1;
    left: 30px;
}

.prew__text{
    position: absolute;
    bottom: 130px;
    right: -50px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: $black;
    width: 200px;
}

.container{
    max-width: 1440px;
    margin: 0 auto;
}
.section{
    position: relative;
}
.section-green{
    width: 100%;
    background-color: #C5CEBD;
    padding: 150px 0;
    
    position: relative;
    z-index: -1;
}