.services{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    margin: 100px 0;

    @include mobile{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

.serveces_item{
    width: 190px;
    overflow: hidden;
    object-fit: cover;
    transition: .4s linear;
    cursor: pointer;

    @include mobile{
        overflow: inherit;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        transform: scale(.7);
    }

    &:hover{
        width: 100%;
        
    }

    &:nth-child(2){
        margin-top: 150px;

        @include mobile{
            margin-top: 30px;
            
            flex-direction: column-reverse;
        }
    }
    &:nth-child(3){
        margin-top: 100px;

        @include mobile{
            margin-top: 30px;
        }
    }
    
}

.services__title{
    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
    margin: 32px 0;
}

.services__text{
    position: absolute;
    bottom: -50px;
    left: 35%;
    transform: translateX(-35%);
    text-align: end;
    .services__tit{
        font-family: 'Lexend Deca';
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        line-height: 48px;
        width: 320px;
        margin-bottom: 35px;
    }

    @include mobile{
        bottom: 50%;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
    }

}