<div class="modal">
    <div class="modal__bg"></div>
    <div class="modal__content">
        <div class="close__btn"></div>
        <h1 class="modal__title">ДАВАЙТЕ НАЧНЁМ</h1>
        <form class="form">
            <label>Как вас звать</label>
            <input type="text" class="modal__input" placeholder="Например, звездный лорд"/>
            <label>Как с вами связаться?</label>
            <input type="email" class="modal__input" placeholder="Email, телефон или мессенджер"/>
            <label>Что вы хотите сделать?</label>
            <textarea class="modal__input big" placeholder="Расскажите о своём проекте"></textarea>
            <label>Какой бюджет у проекта?</label>
            <input class="modal__input" placeholder="Например, 5 000$"/>

            
        </form>
        <button type="submit" class="button modal__btn">
            отправить
            <div class="button__horizontal"></div>
            <div class="button__vertical"></div>
        </button>
    </div>

</div>